/* CSS Documentation */

/* Import the "Poppins" font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Reset default margin, padding, and box-sizing for all elements and set font-family to "Poppins" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Sans-Serif;
}

/* Style for the body element */
body {
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: rgb(255, 153, 204);
}

/* Style for the main wrapper */
.wrapper {
  width: 720px;
  background: rgb(255, 204, 255);
  border-radius: 5px;
}

/* Style for the header inside the wrapper */
.wrapper header {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid rgb(255, 51, 153);
}

/* Style for the form inside the wrapper */
.wrapper form {
  margin: 35px 30px;
}

/* Style for double fields (e.g., name and email fields) */
form .dbl-field {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: space-between;
}

/* Style for each field in the double fields section */
.dbl-field .field {
  height: 50px;
  position: relative;
  width: calc(100% / 2 - 13px);
}

/* Style for input fields and textareas */
form .field input,
form .message textarea {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgb(255, 51, 153);
}

/* Style for input and textarea placeholders */
form .field input::placeholder,
form .message textarea::placeholder {
  color: rgb(255, 51, 153);
}

/* Style for icons inside the form fields */
.wrapper form i {
  position: absolute;
  left: 18px;
  top: 50%;
  color: rgb(255, 51, 153);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}

/* Style for icon color when input fields are focused */
form .field input:focus ~ i {
  color: white;
}

/* Style for the message textarea and its icon */
form .message {
  position: relative;
}

/* Style for the textarea */
form.message textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 120px;
  max-height: 300px;
  padding: 15px 20px 0 48px;
}

/* Style for the button area (submit button and status message) */
form .button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
}

/* Style for the submit button */
.button-area button {
  font-size: 18px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  background: rgb(255, 0, 191);
  padding: 13px 25px;
}

/* Style for the status message displayed after clicking the submit button */
.button-area span {
  color: rgb(255, 0, 191);
  margin-left: 30px;
  display: none;
}

/* Media query for screens with a max width of 600px (responsive design) */
@media (max-width: 600px) {
  .wrapper header {
    text-align: center;
  }
  form .dbl-field {
    margin-bottom: 0px;
    flex-direction: column;
  }
  .dbl-field .field {
    width: 100%;
    margin-bottom: 20px;
  }
  form .message textarea {
    resize: none;
  }
  form .button-area {
    width: 100%;
  }
  .button-area span {
    text-align: center;
    margin: 20px 0;
  }
}
